altgraph==0.17
autosubsync==1.0.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
colorama==0.4.4
colorlog==4.7.2
decorator==4.4.2
EasyProcess==0.3
entrypoint2==0.2.3
future==0.18.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==3.7.0
iso-639==0.4.5
iso3166==1.0.1
isodate==0.6.0
moviepy==1.0.3
mss==6.1.0
numpy==1.19.4
opencv-python==4.5.1.48
pafy==0.5.5
pandas==1.1.5
pefile==2019.4.18
Pillow==8.0.1
proglog==0.1.9
pycparser==2.20
pycryptodome==3.9.9
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
pyqt5-tools==5.15.2.3
pyscreenshot==2.3
PySocks==1.7.1
PySoundFile==0.9.0.post1
python-dateutil==2.8.1
python-dotenv==0.15.0
python-ffmpeg-video-streaming==0.1.5
-e git+https://github.com/agonzalezro/python-opensubtitles@135b04cdd9532cf8f0e184602b596c8c6619f557#egg=python_opensubtitles
pytz==2021.1
pywin32-ctypes==0.2.0
pyzmq==21.0.1
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.25.1
six==1.15.0
streamlink==2.0.0
tqdm==4.54.1
typing-extensions==3.7.4.3
urllib3==1.26.2
vidgear==0.2.0
websocket-client==0.57.0
youtube-dl==2021.1.16
zipp==3.4.0
